#container {
    background-color: #F0F0F0;
    display: grid;
    grid-template-rows: 70px 1000px 70px;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "nav footer";
}

#header {
    background-color: #141718;
    font-size: 20px;
    grid-area: header;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    #Logo {
        font-size: 30px;
        color: #fff;
    }

    #Logo:hover {
        color: #FF0000;
        cursor: pointer;
    }

    #Menu {
        color: #336699;
        font-size: 20px;
    }

    #Menu:hover {
        color: #FF0000;
        cursor: pointer;
    }
}

#nav {
    background-color: #473936;
    grid-area: nav;
}

#main {
    background-color: #22FFFF;
    grid-area: main;
}

#footer {
    background-color: #336699;
    font-size: 20px;
    grid-area: footer;
}