/* CSS Pop-up Add new Address  */
.Add_address {
  background-color: #fff;
  padding: 25px 45px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px 0px rgba(0, 0, 0, 0.01), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 1px 0px rgba(0, 0, 0, 0.09);
}
.Add_address :is(input[type=text], input[type=tel], select) {
  width: 100%;
  padding: 10px;
  border: 1px solid #6C7275;
  border-radius: 3px;
}
.Add_address .Add_address_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Add_address .Add_address_form_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Add_address .Add_address_form_item .Contact_info_input_wrap {
  display: flex;
  gap: 10px;
}
.Add_address .Add_address_btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Add_address .Add_address_btns input[type=submit] {
  padding: 10px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
}
.Add_address .Add_address_btns .btn_Send {
  background-color: #131417;
  color: #fff;
}
.Add_address .Add_address_btns .btn_Send:hover {
  background-color: #fff;
  color: #131417;
  border: 1px solid #131417;
}
.Add_address .Add_address_btns .btn_Cancel:hover {
  color: #FF5630;
}

/*End CSS add new Address */
/*CSS Location Page  (Address page) */
.UAAS_wrap {
  width: 100%;
  max-width: none !important;
}

.LO_content {
  padding: 0 55px 20px 55px;
  flex-grow: 1;
}
.LO_content #LO_content--title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}
.LO_content #addAddressBtn {
  background-color: #131417;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.LO_content #addAddressBtn:hover {
  background-color: #fff;
  color: #131417;
  border: 1px solid #131417;
}
.LO_content .Address_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow-y: auto;
}
.LO_content .Address_container .Address_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 0.5px solid #E8ECEF;
}
.LO_content .Address_container .Address_item_left,
.LO_content .Address_container .Address_item_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.LO_content .Address_container .Address_item_left .row1 {
  font-size: 16px;
}
.LO_content .Address_container .Address_item_left .row2 {
  color: #6C7275;
}
.LO_content .Address_container .Address_item_left .row3 {
  color: #FF5630;
  padding: 5px 10px;
  border: 1px solid #FF5630;
  width: fit-content;
}
.LO_content .Address_container .Address_item_right .row1 {
  display: flex;
  gap: 10px;
  font-weight: 500;
  flex-direction: row-reverse;
}
.LO_content .Address_container .Address_item_right .row1 .Address_update_btn {
  color: #377DFF;
}
.LO_content .Address_container .Address_item_right .row1 .Address_remove_btn {
  color: #FF5630;
}
.LO_content .Address_container .Address_item_right .row1 .btn:hover {
  opacity: 0.7;
}
.LO_content .Address_container .Address_item_right .row2 {
  padding: 5px 10px;
  border: 1px solid #6C7275;
  color: #6C7275;
}
.LO_content .Address_container .Address_item_right .row2:hover {
  border: 1px solid #131417;
  color: #131417;
}

/*# sourceMappingURL=Location.css.map */
