.UAAS_wrap {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 110px;
}

.UAAS_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 262px;
    padding: 15px 20px;
    background-color: #F3F5F7;
    gap: 10px;
    border-radius: 10px;
}

.UAAS_bar_top {
    text-align: center;
    margin-bottom: 15px;
}

.UAAS_userName {
    font-size: 16px;
}

.Avatar_wrapper {
    position: relative;
    width: max-content;
    margin: 10px auto;
}

.UAAS_bar_top .UAAS_avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.UAAS_bar_top .UAAS_camera {
    position: absolute;
    bottom: 0;
    right: 0;
}

.UAAS_bar_top .UAAS_camera:hover{
    cursor: pointer;
    opacity: 0.7;
}

.UAAS_bar_bot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}

.UAAS_bar_bot_item {
    padding: 5px 8px;
    font-size: 16px;
    color: #6C7275;
}

.UAAS_bar_bot_item a{
    color: #6C7275;
}

.UAAS_bar_bot_item i{
    margin-right: 5px;
}

.UAAS_bar_bot_item:hover {
    color: #FF5630;
    cursor: pointer;
}

.UAAS_bar_bot_item a:hover{
    color: #FF5630;
    cursor: pointer;
}

.UAAS_bar--UserInformation #UAAS_userInformation,
.UAAS_bar--Order #UAAS_order,
.UAAS_bar--Location #UAAS_location,
.UAAS_bar--Favorite #UAAS_favorite{
    color: #FF5630;
    cursor: pointer;
}

.UAAS_bar_bot_item img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}
