.UI_title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0;
}

.UI_content {
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.UI_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 30px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    flex: 1;
}

.UI_form-left {
    margin-right: 30px;
}

.UI_form-right {
    margin-left: 30px;
}


.form_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.UI_form input {
    font-size: 16px;
    line-height: 1.7;
    padding: 3px 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CBCBCB;
    color: #131415;
}

.UI_form_element span{
    color: red;
    display: none;
}

input:invalid ~ #error-message {
    color: red;
    display: block;
}

input:valid~#error-message{
    display: none;
}

.Email_input {
    position: relative;
}

.Email_input_Btn {
    position: absolute;
    right: 20px;
    top: 35px;
}

/*.UI_form input:invalid {*/
/*    border-color: red;*/
/*}*/

.UI_form input[type="submit"] {
    color: #131415;
    border-color: #131415;
    max-width: 171px;
    padding: 4px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.UI_form input[type="submit"]:hover {
    background-color: #131415;
    color: #fff;
}

.UI_form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6C7275;
}

.form_title {}