#Cart_Header{
    margin: 45px 0px;
}

h3.Cart_Title {
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
    font-weight: 600;
}

.Process_Container {
    display: flex;
    justify-content: center;
}

.Process_Item {
    margin-right: 25px;
    border-bottom: 2px solid #121314;
    padding-bottom: 25px;
    color: #141718;
    font-weight: 600;
    font-size: 20px;
    width: 256px;
}

span.Process_Item-Number {
    padding: 12px 18px;
    border-radius: 50%;
    background-color: #121314;
    color: #fff;
    margin-right: 20px;
}

#Cart_Content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 100px;
}

/*Main Cart table*/

#Cart_Content .Cart_Table{
    width: 60%;
}

.Table_Header {
    min-width: 591px;
    /*margin-right: 50px;*/
    display: flex;
    color: #131415;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #6C7275;
    /*justify-content: space-between;*/
    margin-bottom: 20px;
}

.Table_Header-Product{
    flex: 6;
}

.Table_Header-Price {
    display: flex;
    text-align: center;
    padding: 0 15px;
    flex: 4;
}

.Table_Header-Item {
    flex: 1;
}

.Table_Content{

}

.Shop_Products {
    position: relative;
    padding-top: 20px;
    border-bottom: 1px solid #171819;
}

.Shop_Products-Header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #ccc;
}

.Shop_Products-Header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

#Cart_Content .Cart_Table .Shop_Products-Cell img{
    max-width: 84px;
}

.Shop_Products-Content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto;
}

.Shop_Products-Content::-webkit-scrollbar {
    width: 5px;
}

.Shop_Products-Content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.Shop_Products-Content::-webkit-scrollbar-track {
    background-color: #fff;
}

.Shop_Products-Content::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


.Shop_Products-Cell {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}


.Item-Name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}

.Item-Remove {
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    flex: 1;
}

.Item-Remove:hover {
    color: #ee4d2d;
}

p.Item-Category {
    font-size: 12px;
    color: #6C7275;
    padding: 8px 0;
}

.Cell_Col_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 15px;
}

.Check_box {
    flex: 1;
}

.Product_Info {
    display: flex;
    cursor: pointer;
    flex: 6;
}

.Cell_Col_3 {
    /*width: 30%;*/
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 0 15px;
    flex: 4;
    text-align: center ;
}

.Product_Info-Item {
    margin: 10px;
}

.Detail_Info {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.Item-Qty{
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.Item-Qty input{
    max-width: 30px;
    padding: 3px 5px;
    text-align: center;
    border: none;
    font-size: 16px;
}

.Item-Qty button{
    /*padding: 5px 3px;*/
    font-size: 16px;
}

.Item-Unit_Price{
    font-size: 14px;
    flex: 1;
}

.Item-Total_Price{
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    flex: 1;
}

.Item-Remove {
    flex: 1;
}

/*Aside*/

#Cart_Content aside{
    padding: 16px 24px;
    background-color: #fff;
    border: 1px solid #6C7275;
    border-radius: 8px;
    min-width: 413px;
    /*height: 500px;*/
    margin-left: 30px;
}

#Cart_Content .Cart_Summary-Title{
    font-size: 22px;
    font-weight: 500;
    color: #141718;
    margin-bottom: 12px;
}

.Cart_Voucher{
    border-radius: 5px;
    padding: 8px 12px;
    border: 1px solid #121314;
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 40px;
}

.Cart_Voucher span{
    margin-left: 15px;
}

.Cart_Voucher a {
    color: var(--main-color);
    flex: 1;
    margin-left: auto;
    text-align: end;
}

.Cart_Summary-Voucher{
    margin-bottom: 20px;
}

.Shipping_Option-Item{
    padding: 12px 24px;
    border: 1px solid #121314;
    border-radius: 5px;
    margin: 10px 0;

}

.Cart_Summary-Voucher .Total-Price{
    font-size: 16px;
    color: #141718;
    padding-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}

.Cart_Summary-Voucher .Total-Checkout{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

#Checkout{
    padding: 12px;
    text-align: center;
    width: 100%;
    background-color: #121314;
    color: #fff;
    border-radius: 8px;
    margin: 15px 0;
}

#Checkout:hover{
    opacity: 0.7;
    cursor: pointer;
}