#CO_Content label,
#CO_Content input[type="text"],
#CO_Content input[type="email"],
#CO_Content input[type="date"],
#CO_Content .CO-Form2 h4
{
    display: block;
    color: #6C7275;
}

#CO_Content label,
#CO_Content .CO-Form2 h4{
    font-weight: bold;
}

#CO_Content input[type="text"],
#CO_Content input[type="email"],
#CO_Content input[type="date"],
.Payment_Method {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 24px;
}


#CO_Header{
    margin: 45px 0px;
}

h3.CO_Title {
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
    font-weight: 600;
}

.Process_Container {
    display: flex;
    justify-content: center;
}

.Process_Item {
    margin-right: 25px;
    border-bottom: 2px solid #121314;
    padding-bottom: 25px;
    color: #141718;
    font-weight: 600;
    font-size: 20px;
    width: 256px;
}

span.Process_Item-Number {
    padding: 12px 18px;
    border-radius: 50%;
    background-color: #121314;
    color: #fff;
    margin-right: 20px;
}

#CO_Content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.content_item {
    width: 60%;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    box-shadow: 7px -3px 10px 0px #CBCBCB;
    padding: 20px;
}

.address_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title_address {
    display: flex;
    justify-content: space-between;
}

.title_address .change_address {
    color: #377DFF;
    cursor: pointer;
}

.sub_title {
    display: flex;
    gap: 10px;
}

.address_content--item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.info_cus {
    font-weight: bold;
}

section {
    width: 80%;
}

.product_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    box-shadow: 7px -3px 10px 0px #CBCBCB;
    padding: 20px;
}

.header_product {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 100px 20px 20px;
    border-bottom: 1px solid #CBCBCB;
}

.col1 {
    flex: 8;
}

.col2 {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.product_of_shop {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.shop_content img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
}

.shop_content {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CBCBCB;
}

.product_item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.product_item {
    display: flex;
    border-bottom: 1px solid #CBCBCB;
    padding: 0 100px 20px 20px;
    gap: 20px;
}

.price_old {
    color: #FF5630;
    text-decoration: line-through;
    margin-right: 10px;
}

.product_img {
    flex: 1;
}

.product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    flex : 6;
}

.product_name {
    font-size: 14px;
    font-weight: 500;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.product_price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex: 3;
}

.double_price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
}

.checkout_of_shop {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 30px;
}

.shop_voucher {
    display: flex;
    gap: 30px;
}

.shop_voucher a {
    color: #377DFF;
    cursor: pointer;
}

.shop_voucher a:hover {
    text-decoration: underline;
}

.total_payment {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px 0px 30px;
    font-weight: 600;
}

.payment_item {
    display: flex;
    justify-content: space-between;
}

.total_pay {
    font-size: 16px;
    gap: 20px;
}

.payment_item > .voucher_money{
    color: #FF5630;
}

.total_pay > .total_money {
    font-weight: 600;
    color: #38CB89;
}

.shopbee_voucher {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 30px;
}

.shopbee_voucher a {
    color: #377DFF;
}

.shopbee_voucher a:hover {
    text-decoration: underline;
}

.shopbee_voucher span {
    font-size: 16px;
    font-weight: 600;
}

.payment_method {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

.payment_method span {
    font-size: 16px;
    font-weight: 600;
}

.radio_payment-item {
    display: flex;
    gap: 10px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    padding: 5px 10px;
}

.all_order_total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.all_order_total-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 100px 10px 30px;
}

.all_order_total-item {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.total_all {
    font-size: 18px;
}

.total_all-money {
    font-weight: 600;
    color: #38CB89;
}

.order_btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 30px;
}

.order_button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.order_button:active {
    transform: scale(0.9);
}
