/* Common */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #ECEBEE;
    --note-color: #9CA3AF;
    --orange-weight-color: #EA580C;
    --title-color: #333;
    --content-color: #030712;
    --search-bg-color: #F3F4F6;
    --search-text-color: #6B7280;
    --red-bg-color: #DC2626;
    --main-color: #FACC15;
    --Product-List-Color: #D9D9D9;
    --Category-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 6px 3px 0px rgba(0, 0, 0, 0.05), 0px 10px 4px 0px rgba(0, 0, 0, 0.01), 0px 16px 5px 0px rgba(0, 0, 0, 0.00);
    --Product-Card-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 10px 6px 0px rgba(0, 0, 0, 0.05), 0px 17px 7px 0px rgba(0, 0, 0, 0.01), 0px 27px 8px 0px rgba(0, 0, 0, 0.00);
    --font-size-s: 14px;
    --font-size-m: 16px;
    /* Corrected typo from 4px to 14px */
    --font-size-xm: 18px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 52px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    background-color: var(--bg-color);
    color: var(--content-color);
    font-size: var(--font-size-s);
    font-family: 'SF Pro Display', sans-serif;
    color: #030712;
    /*user-select: none;*/
    scroll-behavior: smooth;
}

.orange-bold {
    color: var(--orange-weight-color);
    font-weight: 700;
}

.Logo:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    color: #000;
}

.clear {
    clear: both;
}

.pad-l-r-170 {
    padding-left: 170px;
    padding-right: 170px;
}

.pad-t-b-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mg-bot-10 {
    margin-bottom: 10px;
}

.mg-bot-15 {
    margin-bottom: 15px;
}

.line {
    height: 1.5px;
    width: 100%;
    margin: 10px auto;
    background-color: #030712;
}

.Color-White {
    background-color: #fff !important;
}

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    background: #23262F;
}

/* Tạo hộp checkbox custom */
input[type="checkbox"]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    /* Màu đen */
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {
    background-color: #000;
    color: #fff;
}

/*input[type="checkbox"]:checked::after {*/
/*    width: 6px;*/
/*    height: 2px;*/
/*    border-left: 1px solid #000;*/
/*    border-right: 1px solid #000;*/
/*    rotate: -45deg;*/
/*}*/

/*Product Card*/

.Product_list {
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* flex-wrap: wrap; */
    /* column-gap: calc((100% - 4 * 237px) / 3); */
}

.Card {
    position: relative;
    /*width: 200px;*/
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.10)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09)) drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.05)) drop-shadow(0px 17px 7px rgba(0, 0, 0, 0.01)) drop-shadow(0px 27px 8px rgba(0, 0, 0, 0.00));
}

.Card-Image {
    width: 100%;
    /*min-height: 170px;*/
    height: 295px;
    object-fit: cover;
}

.Card .Hot,
.Card .Sale {
    position: absolute;
    background-color: #FF0000;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    top: 30px;
}

.Card .Hot {
    left: 0;
}

.Card .Sale {
    right: 0;
}

.Card_top {
    padding: 10px 14px;
    border-bottom: 1px solid #E8ECEF;
}

.Card_top h3 {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}


.Card_shop {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.Card_shop img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.Card_shop span {
    font-size: 10px;
    color: #605F5F;
}

.Card_bot {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}

.Card_price {
    width: 100%;
    flex-grow: 1;
}

.Card_price .oldPrice {
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
}

.Card_price .newPrice {
    font-size: 14px;
    font-weight: 500;
    color: #FACC15;
}

.Card_rating {
    line-height: 8px;
    margin: 5px 0;
}

.Card_rating i {
    font-size: 6px;
}

.Card_ratingCount {
    font-size: 12px;
    color: #ccc;
    font-weight: 300;
    margin-left: 2px;
}

.Card_logo {
    margin-left: 10px;
}

.Card_logo img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.Page_num {
    display: flex;
    width: 600px;
    margin: 40px auto;
    justify-content: space-between;
}

.num_item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #fff;
    color: #141718;
    text-align: center;
    transition: ease 0.25s;
}

#Page_next,
#Page_pre {}

.num_item:hover {
    background-color: #141718;
    color: #fff;
}

.shop_locked {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    background-color: #605F5F;
    border-radius: 20px;
}

.sold_out {
    padding: 0 5px;
    background-color: #605F5F;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    text-align: center;
    width: 70px;
}

.sold-out-product {
    opacity: 0.5; /* Làm mờ sản phẩm */
    pointer-events: none; /* Ngăn chặn tương tác với sản phẩm */
}

.sold-out-product .Item-Remove {
    pointer-events: auto; /* Cho phép tương tác với nút xóa */
    opacity: 1; /* Khôi phục độ trong của nút xóa */
}

.sold-out-product .btn {
    display: none; /* Ẩn tất cả các nút khác */
}