* {
    padding: 0;
    margin: 0;
}

.wrapper{
    background: linear-gradient(45deg, #d2df9c, #c9d4ce);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
    /* font-size: 30px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    text-align: center;
    padding: 0 0 20px 0;
}

.container{
    width: 30rem;
    padding: 25px 30px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
}

.box_input {
    background: linear-gradient(45deg,#bac4be, #d2df9c);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .3s;
    margin-bottom: 20px;
    font-size: 20px;
}

.container .btn_convert{
    width: 30%;
    background-color: #f8fffb;
    padding: 8px;
    display: block;
    margin: 20px auto 0 auto;
    font-size: medium;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.container .btn_convert:hover{
    background-color: #000000;
    color: white;

}

