.Search_wrap {
    display: flex;
    align-items: flex-start;
    background-color: #F3F5F7;
}

.S_sidebar {
    padding: 40px 20px;
    min-width: calc(200px + 40px);
    background-color: #F3F5F7;
    margin-left: 170px;
}

.S_sidebar>h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.S_seemore {
    color: #ccc;
}

.S_sidebar .S_sidebar-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.S_catalog {
    margin-bottom: 20px;
}

.S_catalog-content {}

.checkbox-group {
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.Checkbox_item {
    display: flex;
}

.checkbox-group label {
    display: inline-block;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.S_price {
    margin-bottom: 20px;
}

.S_price-content {
    display: flex;
    gap: 10px;
}

.S_price_btn {
    border: 1px solid #131313;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 10px;
    margin-top: 15px;
}

.S_price_btn:hover {
    background-color: #131313;
    color: white;
}

.S_place {
    margin-bottom: 20px;
}

.S_rating {}

.S_rating-content {
    margin-left: 40px;
}

.S_Product_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

/* Search Content */
.S_content {
    flex-grow: 1;
    background-color: #FFF;
    padding-right: 170px;
}

.S_big_title {
    padding: 30px;
    background-color: #E8ECEF;
    margin-right: -170px;
}

.S_big_title>h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333333;
}

.Search_empty{
    margin: auto;
}

.S_big_title>span {
    font-size: 14px;
    color: #9CA3AF;
}

.S_shop_wrap {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}

.S_Shop_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    padding: 20px 30px;
    border: 1px solid #141718;
    border-radius: 15px;
    gap: 15px;
    margin: 0 40px;
}

.S_shop_info h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #131313;
}

.S_Shop_info img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.S_Shop_rating {
    width: max-content;
}

.S_Shop_btn {
    padding: 5px 20px;
    border: 1px solid #131313;
    color: #131313;
    background-color: transparent;
    border-radius: 15px;
}

.S_Shop_btn:hover {
    background-color: #131313;
    color: #FFFFFF;
}

.S_Shop_product {
    display: flex;
    gap: 10px;
}

.S_Shop_product button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    justify-content: center;
    text-align: center;
    border: 1px solid #131313;
    background-color: #131313;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    z-index: 1;
}

.S_Shop_product button:hover{
    background-color: #FFFFFF;
    color: #131313;
}