a{
    color:#000;
}

/* Slider */

#Slider {
    padding-top: 50%;
    background: url(img/slider/TeaChia.jpeg) center/cover no-repeat;
    position: relative;
}

.Slider-container {
    position: absolute;
    max-width: 600px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 170px;
}

.Slider-container__lable {
    width: auto;
    padding: 10px 18px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(90deg, #39245F 0%, #39245F 60%);
    color: #fff;
}

.Slider-container__main {
    font-size: var(--font-size-xxxl);
    margin-top: 30px;
    font-weight: 700;
    max-width: 600px;
    margin-bottom: 28px;
    color: #39245F;
    line-height: 63.8px; /* 159.5% */
    letter-spacing: -1.4px;
}

.Slider-container__slogan {
    font-size: var(--font-size-m);
    margin-bottom: 42px;
    color: #030712;
}

.Slider-container__btn {
    background-color: var(--main-color);
    color: #fff;
    font-size: var(--font-size-xl);
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin-right: 16px;
}

.Slider-container__btn:hover {
    background-color: #f8b400;
}

.Price {
    /* background-color: rgba(0, 0, 0, 0.7); */
    float: left;
}

.new-Price {
    color: #DC2626;
    font-size: var(--font-size-xl);
    font-weight: 700;
    margin-bottom: 10px;
}

.old-Price {
    color: var(--note-color);
    font-size: var(--font-size-l);
    font-weight: 600;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.Price-desc {
    color: var(--note-color);
    font-size: var(--font-size-m);
}

/*Content*/

#Home-Content{
    margin-top: 30px;
    background-color: var(--bg-color);
}

.Category{
    background-color: #F3F4F6;
    padding: 40px 170px;
}

/*Danh mục sản phẩm (Category) */
#Home-Content .Category .Category-Title{
    font-size: var(--font-size-xl);
    font-weight: 700;
    margin-bottom: 40px;
}

.Card-Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Category-Card{
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 15px;
    box-shadow: var(--Category-box-shadow);
    margin: 15px 15px;
}

.Category-Card img{
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
}

.Card-Desc{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: var(--font-size-m);
    font-weight: 600;
}

/* Product and Product Card */
.Title-Container{
    padding: 30px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title-Container h3{
    font-size: var(--font-size-xl);
    font-weight: 600;
}

.Title-Container p{
    font-size: 20px;
    opacity: 50%;
    padding-top: 16px;
}

.Title-Container button{
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #fff;
    font-weight: 700;
}

.Title-Container button:hover{
    background-color: #030712;
    color: #fff;
}

/* Product */
.Product-List{
    background-color: var(--Product-List-Color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Product-Card{
    box-shadow: var(--Product-Card-box-shadow);
    background-color: #fff;
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 25px;
    color: #030712;
    display: block;
    border: none;
    outline: none;
}

/*Product Description */
.Product-Image{
    background: url(img/Product/T-Shirt.jpeg) center/cover no-repeat;
    max-width: 300px;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.Product-Image .Hot,
.Product-Image .Discount{
    position: absolute;
    padding: 5px 10px;
    background-color: var(--red-bg-color);
    color: #fff;
}

.Product-Image .Hot{
    top: 5%;
    left: 0%;
}

.Product-Image .Discount{
    top: 10%;
    right: 0%;
    font-weight: 700;
}

.Product-Desc{
    padding: 15px 15px;
}

.Product-Desc h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 10px;
}

.Product-Desc .Character{
    font-size: 12px;
    margin-bottom: 10px;
}

.Product-Desc .Brand-Avatar{
    background: url(img/Brand/Coffee.jpeg) center/cover no-repeat;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}

.Product-Desc label{
    float: left;
    line-height: 30px;
    margin-left: 10px;
    font-size: var(--font-size-s);
    font-weight: 600;
    margin-bottom: 15px;
}

.Product-Desc .Line{
    background-color: #ccc;
    height: 1.5px;
    border-radius: 50%;
    max-width: 217px;
    margin: 0 auto;
}

.Product-Bot-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.Product-Desc .Product-Price{
    margin-bottom: 10px;
}

.Product-Price .old-Price{
    font-weight: 400;
    font-size: 14px;
}

.Product-Price .new-Price{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color)
}

.Product-Button{
    padding-top: 10px;
    font-size: 23px;
    color: #ccc;
}

.Product-Evaluation{
    color: var(--main-color);
}
