#toast{
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 99999;
}

.toast {
    background-color: #fff;
    min-width: 400px;
    max-width: 450px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    display: flex;
    align-items: center;
    opacity: 1;
    animation: slideInLeft 0.3s ease, fadeout linear 1s 2s forwards;
    transition: all linear 0.3s;
    margin-bottom: 15px;
}

@keyframes slideInLeft {
    from {
        transform: translateX(calc(100% + 32px));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

.toast_icon {
    font-size: 26px;
}

.toast_icon,
.toast_close {
    padding: 0 16px;
}

.toast_body {
    flex-grow: 1;
}

.toast_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast_msg {
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

.toast_close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast_close:hover {
    color: rgba(0, 0, 0, 0.5);
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast_icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast_icon {
    color: #2f86eb;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast_icon {
    color: #ff623d;
}

.toast--warning {
    border-color: #f7b731;
}

.toast--warning .toast_icon {
    color: #f7b731;
}