/* Header */

a {
    color: #000;
}

#Header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 19px 11px 0 rgba(0, 0, 0, 0.05), 0 33px 13px 0 rgba(0, 0, 0, 0.01), 0 52px 14px 0 rgba(0, 0, 0, 0.00);
}

#Header .Header-Top {
    padding: 0 170px;
    min-height: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ECEBEE;
}

#Header .Header-Bot {
    background-color: #fff;
    padding: 0 170px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Header-Bot__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.Header-Bot img {
    width: auto;
    height: 70px;
}

.Header-Bot form {
    width: auto;
    position: relative;
    flex-grow: 1;
}

.Header-Bot__left #suggestSearch{
    position: absolute;
    top: 46px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 19px 11px 0 rgba(0, 0, 0, 0.05), 0 33px 13px 0 rgba(0, 0, 0, 0.01), 0 52px 14px 0 rgba(0, 0, 0, 0.00);
    z-index: 2;
    background-color: #fff;
}

.Header-Bot__left #suggestSearch a{
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    color: #141718;
}

.Header-Bot__left #suggestSearch a:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}


.Header-Bot form input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--search-text-color);
    font-size: 16px;
    border: 2px solid #ccc;
}

.Header-Bot form input:hover {
    border-color: #141718;
}

.Header-Bot form i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 16px;
    height: 100%;
    border-radius: 5px;
    background-color: #141718;
    color: #fff;
    transition: all 0.3s;
}

.Header-Bot form i:hover{
    cursor: pointer;
    opacity: 0.7;
}

.Header-Bot__right {
    display: flex;
}

.Header-Bot__right li {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
}

.Header-Bot__right li:hover {
    color: #FF5630;
    cursor: pointer;
}

.Header-Bot__right li i {
    font-size: 20px;
    margin-right: 10px;
}

/* Media queries */
/* Điều chỉnh cho màn hình có chiều rộng nhỏ hơn 768px (di động) */
@media only screen and (max-width: 767px) {

    /* Ẩn văn bản và chỉ hiển thị icon */
    .Header-Bot__right li {
        font-size: 0;
        /* Ẩn văn bản */
    }

    /* Hiển thị lại icon */
    .Header-Bot__right li i {
        font-size: 20px;
        margin-right: 10px;
        display: inline-block;
        /* Hiển thị icon */
    }

    #Header .Header-Top {
        padding: 0 10px;
    }

    #Header .Header-Bot {
        padding: 0 10px;
        justify-content: left;
    }

    .Header-Bot form {
        flex-grow: 1;
    }

    .Header-Bot form input {
        width: 100%;
    }

    .Header-Bot form i {
        display: none;
    }

    .pad-l-r-170 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.SM_Cart_Container {
    position: absolute;
    font-size: 16px;
    top: 46px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 19px 11px 0 rgba(0, 0, 0, 0.05), 0 33px 13px 0 rgba(0, 0, 0, 0.01), 0 52px 14px 0 rgba(0, 0, 0, 0.00);
    z-index: 1;
    padding: 10px 5px;
    background: #fff;
    color: #121212;
    display: none;
    min-width: 300px;
    justify-content: center;
}

.Header-Bot__Cart:hover .SM_Cart_Container {
    display: block;
}

.SM_Cart_Container>h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}

.SM_Cart-Content {
    padding: 6px 6px;
    max-height: 500px;
    overflow-y: scroll;
}

.SM_Cart-Item {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #E8ECEF;
    color: #141718;
    align-items: center;
    gap: 10px;
}

.SM_Cart-Item--Checkbox{
    padding: 3px 3px;
}

.SM_Cart-Item--Image {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-right: 10px;
}


.Main--Shop {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Main--Shop img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.Main--Shop span {
    font-size: 10px;
    font-weight: 400;
    color: #ccc;
}

.SM_Cart-Item--Main {
    display: flex;
    flex-direction: column;
    color: #121315;
    justify-content: space-between;
}

h3.Main--Name {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    width: 200px;
}

.Main--Qty_and_Category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    align-items: center;
}

.Main--Qty i.fa-solid.fa-minus {
    margin-right: 0;
}


span.Main--Category {
    margin-right: 10px;
    width: 80px;
    font-size: 12px;
    color: #6C7275;
}

.SM_Cart-Item--Price span {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
    color: #121212;
}


.SM_Cart_Container .Cart-Btn {
    margin: 10px 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    background-color: #141718;
    cursor: pointer;
}

.SM_Cart_Container .Cart-Btn:hover {
    opacity: 0.7;
}

.User_option {
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    color: #141718;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 8px 8px 0px rgba(0, 0, 0, 0.09), 0px 19px 11px 0px rgba(0, 0, 0, 0.05), 0px 33px 13px 0px rgba(0, 0, 0, 0.01), 0px 52px 14px 0px rgba(0, 0, 0, 0.00);
}

.User_option h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.Header-Bot__Account{
    position: relative;
}

.Header-Bot__Account:hover .User_option{
    display: flex;
}

.User_option .Line {
    height: 100px;
    margin: auto 20px;
    width: 1px;
    background-color: #ccc;
}

.User_option a {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: all 0.3s;
    display: block;
    margin-bottom: 10px;
}

.User_option a:hover {
    opacity: 0.5;
}

.User_option img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.User_option .Shop_option,
.User_option .Account_option {
    gap: 3px;
    width: max-content;
    display: flex;
    flex-direction: column;
}


