/* Header */

a {
    color: #000;
}

#Header {
    min-height: 140px;
    width: 100%;
}

#Header .Header-Top {
    padding: 0 170px;
    min-height: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#Header .Header-Bot {
    background-color: #fff;
    padding: 0 170px;
    display: flex;
    flex-direction: row;
    min-height: 103px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Header-Bot__left {
    display: flex;
    flex-grow: 1;
}

.Header-Bot img {
    width: auto;
    height: 70px;
}

.Header-Bot form {
    width: auto;
    padding: 12px 24px;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

.Header-Bot form input {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    font-size: 16px;
}

.Header-Bot form input:hover {
    background-color: #ccc;
}

.Header-Bot form i {
    position: absolute;
    right: 10%;
    bottom: 40%;
    font-size: 20px;
}

.Header-Bot__right {
    display: flex;
}

.Header-Bot__right li {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}

.Header-Bot__right li:hover {
    background-color: #DC2626;
    color: #fff;
    cursor: pointer;
}

.Header-Bot__right li i {
    font-size: 20px;
    margin-right: 10px;
}

/* Media queries */
/* Điều chỉnh cho màn hình có chiều rộng nhỏ hơn 768px (di động) */
@media only screen and (max-width: 767px) {

    /* Ẩn văn bản và chỉ hiển thị icon */
    .Header-Bot__right li {
        font-size: 0;
        /* Ẩn văn bản */
    }

    /* Hiển thị lại icon */
    .Header-Bot__right li i {
        font-size: 20px;
        margin-right: 10px;
        display: inline-block;
        /* Hiển thị icon */
    }

    #Header .Header-Top {
        padding: 0 10px;
    }

    #Header .Header-Bot {
        padding: 0 10px;
        justify-content: left;
    }

    .Header-Bot form {
        flex-grow: 1;
    }

    .Header-Bot form input {
        width: 100%;
    }

    .Header-Bot form i {
        display: none;
    }

    .pad-l-r-170 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.SM_Cart_Container {
    position: absolute;
    font-size: 16px;
    top: 46px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 19px 11px 0 rgba(0, 0, 0, 0.05), 0 33px 13px 0 rgba(0, 0, 0, 0.01), 0 52px 14px 0 rgba(0, 0, 0, 0.00);
    z-index: 1;
    padding: 10px 5px;
    background: #fff;
    color: #121212;
    display: none;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
}

.Header-Bot__Cart:hover .SM_Cart_Container {
    display: flex;
}

.SM_Cart_Container>h3 {
    font-size: 20px;
    font-weight: 500;
}

.SM_Cart-Content {
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    max-height: 500px;
    overflow-y: scroll;
    justify-content: center;
}

.SM_Cart-Item--Checkbox{
    padding: 3px 3px;
}

.SM_Cart-Item--Image {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.SM_Cart-Item {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #E8ECEF;
    color: #141718;
}

.Main--Shop {
    display: flex;
    align-items: center;
}

.Main--Shop img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.Main--Shop span {
    font-size: 10px;
    font-weight: 400;
    color: #ccc;
}

.Main--Qty_and_Category {
    display: flex;
}

.SM_Cart-Item--Main {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    color: #121315;
}

h3.Main--Name {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.Main--Qty_and_Category {
    display: flex;
    /* justify-items: center; */
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    align-items: center;
}

.Main--Qty {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    border: 1px solid;
    color: #6C7275;
    border-radius: 4px;
}

.Main--Qty i {
    font-size: 10px;
}

.Main--Qty i.fa-solid.fa-minus {
    margin-right: 0;
}

.Main--Qty button.btn.Qty__Minus {
    text-align: center;
    padding: 0 5px;
}

.Main--Qty input.btn.Qty__Input {
    text-align: center;
    font-size: 12px;
    max-width: 30px;
    padding: 5px 5px;
}

.Main--Qty button.btn.Qty__Plus {
    padding: 2px 2px;
}

span.Main--Category {
    margin-right: 10px;
    width: 80px;
    font-size: 12px;
    color: #6C7275;
}

.SM_Cart-Item--Price span {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
    color: #121212;
}

.SM_Cart-Item--Price i.fa-solid.fa-x {
    margin-top: 10px;
    padding: 10px 5px;
}

.Purchase {
    padding: 20px 20px;
    width: 100%;
}

.Purchase .Total {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    color: #131415;
    margin-bottom: 10px;
}

.Purchase .Total h3 {}

.Purchase .Total span {}

.Purchase .Checkout-Btn {
    width: 100%;
    border-radius: 6px;
    padding: 8px 0;
    text-align: center;
    background-color: #121212;
    color: #fff;
    margin-bottom: 10px;
}

.Purchase .Checkout-Btn:hover {
    opacity: 0.7;
}

.Purchase .Cart-Btn {
    width: 100%;
    color: #121212;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.Purchase .Cart-Btn:hover {
    opacity: 0.7;
}

.User_option {
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    color: #141718;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 8px 8px 0px rgba(0, 0, 0, 0.09), 0px 19px 11px 0px rgba(0, 0, 0, 0.05), 0px 33px 13px 0px rgba(0, 0, 0, 0.01), 0px 52px 14px 0px rgba(0, 0, 0, 0.00);
}

.User_option h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.Header-Bot__Account{
    position: relative;
}

.Header-Bot__Account:hover .User_option{
    display: flex;
}

.User_option .Line {
    height: 100px;
    margin: auto 20px;
    width: 1px;
    background-color: #ccc;
}

.User_option a {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: all 0.3s;
    display: block;
    margin-bottom: 10px;
}

.User_option a:hover {
    opacity: 0.5;
}

.User_option img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.User_option .Shop_option,
.User_option .Account_option {
    gap: 3px;
    width: max-content;
    display: flex;
    flex-direction: column;
}