.SR_main .SR_main_title{
    border: none !important;
    margin-bottom: 0;
}

.SR_main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SR_main_content .SR_main_icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    background-color: #131417;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SR_main_content .SR_main_para{
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    max-width: 470px;
    text-align: center;
}

.SR_main_btn{
    padding: 15px 25px;
    background-color: #131417 !important;
    color: #fff;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.SR_main_btn:hover{
    opacity: 0.8;
}
